div.page(data-page='recovery')
  div.page-content
    div.form
      form(onsubmit='return false' autocomplete='off')
        div.list-block
          ul
            li
              div.item-content
                div.item-inner
                  div.item-title.floating-label E-mail
                  div.item-input
                    input(type='text' name='text')
        button.button.button-raised.button-fill.color-blue Recovery password
    div.links
      a.button.color-blue(href='#sign_in') Sign in
      a.button.color-blue(href='#sign_up') Sign up
